.faq-container {
  border-radius: 10px;
}

.faq-heading {
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
}

.faq-para {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

.view-all-btn::after {
  border-radius: 10px;
}
