.faq-container {
  border-radius: 10px;
}

.faq-heading {
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
}

.faq-para {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

.view-all-btn::after {
  border-radius: 10px;
}

.free-trial-section {
  position: relative;
}

.free-trial-container {
  width: 50%;
}

.free-trial-container span {
  padding: 6px 12px 6px 12px;
  background-color: #ebfef6;
  border-radius: 99px;
  width: fit-content;
  color: #1b4200;
  font-size: 12px;
  font-weight: 500;
}

.free-trial-heading {
  font-size: 48px;
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
}

.free-trial-para {
  font-size: 18px;
}

.start_btn {
  background-color: #74CC3A;
  border-radius: 8px;
  position: relative;
  z-index: 1; /* Lower z-index to allow pseudo-element visibility */
  overflow: hidden; /* Ensures the pseudo-element is contained within the button */
  color: white; /* Add contrast for text */
  border: none; /* Optional: to remove any default border */
  cursor: pointer; /* Indicates interactivity */
}

.start_btn::after {
  position: absolute;
  top: 0;
  left: 0; /* Ensure alignment starts from the left */
  height: 100%;
  width: 0; /* Starts with no width */
  z-index: -1; /* Stays behind the button text */
  content: "";
  background-color: #5DAF2C; /* Slightly darker green for effect */
  border-radius: 8px; /* Match button's border radius */
  transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1); /* Smooth width transition */
}

.start_btn:hover::after {
  width: 100%; /* Expands to full width on hover */
}

.start_btn:hover {
  color: white; /* Ensure text color remains visible on hover */
}

.book_btn {
  background-color: #EBFEF6;
  border-radius: 8px;
  position: relative;
  z-index: 1; /* Lower z-index to allow pseudo-element visibility */
  overflow: hidden; /* Ensures the pseudo-element is contained within the button */
  border: none; /* Optional: to remove any default border */
  cursor: pointer;
}

.book_btn::after {
  position: absolute;
  top: 0;
  left: 0; /* Ensure alignment starts from the left */
  height: 100%;
  width: 0; /* Starts with no width */
  z-index: -1; /* Stays behind the button text */
  content: "";
  background-color: #5DAF2C; /* Slightly darker green for effect */
  border-radius: 8px; /* Match button's border radius */
  transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1); /* Smooth width transition */
}

.book_btn:hover::after {
  width: 100%; /* Expands to full width on hover */
}

.book_btn:hover {
  color: white; /* Ensure text color remains visible on hover */
}

@media screen and (max-width: 767px) {
  .free-trial-container {
    width: 100%;
  }
}
